@page "/"
<!--Created by David Ashieze-->
<!--Date: Apr 19, 2024-->
<!--This page show all customers and , add new customer or edit or delete -->
<!--The changes list will be reflected in the database-->
<!--The database and all changes are managed in customerdb class.-->
<h1 class="text-center">Bob’s GYM </h1>
<div class="text-center">
    <button type="button" class=" btn btn-success " @onclick="Add">Add</button>
    </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col"> Checked In</th>
            <th scope="col"> Edit</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        
        @foreach (var cusotmer in basicList )
        {
            <tr>
               
                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td><input type="checkbox"  unchecked></td>
                <td>
                    <button class="btn btn-warning" @onclick="() => Edit(cusotmer.customerId,cusotmer.CustomerType)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => Remove(cusotmer.customerId,cusotmer.CustomerType)">Delete</button>
                </td>
               
            </tr>
        }
        @foreach (var cusotmer in epicList)
        {
            <tr>

                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td><input type="checkbox" unchecked></td>
                <td>
                    <button class="btn btn-warning" @onclick="() => Edit(cusotmer.customerId,cusotmer.CustomerType)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => Remove(cusotmer.customerId,cusotmer.CustomerType)">Delete</button>
                </td>
               

            </tr>
        }
        @foreach (var cusotmer in friendList)
        {
            <tr>

                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td ><input class="p-3" type="checkbox" unchecked></td>
                <td>
                    <button class="btn btn-warning" @onclick="() => Edit(cusotmer.customerId,cusotmer.CustomerType)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => Remove(cusotmer.customerId,cusotmer.CustomerType)">Delete</button>
                </td>

            </tr>
        }

    </tbody>
</table>
