@page "/"

<h1 class="text-center">Bob’s GYM </h1>
<div class="text-center">
    <button type="button" class=" btn btn-success " @onclick="Add">Add</button>
    </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col"> Checked In</th>
            <th scope="col"> Edit</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        
        @foreach (var cusotmer in basicList )
        {
            <tr>
               
                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td><input type="checkbox"  unchecked></td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
               
            </tr>
        }
        @foreach (var cusotmer in epicList)
        {
            <tr>

                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td><input type="checkbox" unchecked></td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
               

            </tr>
        }
        @foreach (var cusotmer in firendList)
        {
            <tr>

                <td>@cusotmer.customerFName</td>
                <td>@cusotmer.customerLName</td>
                <td>@cusotmer.email</td>
                <td>@cusotmer.CustomerType</td>
                <td ><input class="p-3" type="checkbox" unchecked></td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>

            </tr>
        }

    </tbody>
</table>
